<!-- <p> 
    <% const isEdit = !!job; 
    
    const title = isEdit ? "Edit Job" : "Add New Job"; 
    
    const buttonText = isEdit ? "Update" : "Create"; 
    
    const action = isEdit ? `/jobs/update/${job.id}` : "/jobs"; 

    
    const company = isEdit ? job.company : "";
    
    const position = isEdit ? job.position : ""; 
    
    const status = isEdit ? job.status : "pending"; 

    
    const selPending = status === "pending" ? "selected" : ""; 
    
    const selInterview = status === 'interview' ? 'selected' : ''; 
    
    const selDeclined = status === 'declined' ? 'selected' : ''; 
    
    const selAccepted = status === 'accepted' ? 'selected' : ''; %>
    </p> -->
